{% extends 'base.html.twig' %}

{% block title %}Редактирование книги{% endblock %}

{% block body %}
    <h1 class="title">Редактирование книги</h1>
    {{ form_start(form) }}
    {{ form_label(form.name, 'Имя') }}
    {{ form_errors(form.name) }}
    {{ form_widget(form.name) }}
    {{ form_label(form.author, 'Автор') }}
    {{ form_errors(form.author) }}
    {{ form_widget(form.author) }}
    {{ form_label(form.year, 'Год') }}
    {{ form_errors(form.year) }}
    {{ form_widget(form.year) }}
    {{ form_end(form) }}
{% endblock %}